#bodyEdit {
  background-color: rgb(255, 245, 203)
}

.center{
  text-align: center
}

#name {
  text-align: center
}

#address {
  text-align: center
}

#number {
  text-align: center
}

#badge {
  text-align: center
}

#profile {
  text-align: center
}

#skills{
  text-align: center
}

#ed {
  text-align: center
}
